  <ion-content class="background">
  <ion-header>
    <div style="margin-top: -3px;">
      <ion-toolbar color="light">
        <ion-title color="primary" >SOIL TEMPERATURE</ion-title>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="menu"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </div>

    <div style="margin-top: 100px;"></div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    
    

    <div style="margin-top: 100px;"></div>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button expand="block" color="primary">
            <ion-icon slot="end" name="color-fill-outline"></ion-icon>
            Water
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button expand="block" color="medium">
            <ion-icon slot="end" name="skull-outline"></ion-icon>
            Fertilizer
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="margin-top: 10px;"></div>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button expand="full" fill="clear" size="large">
            <ion-icon class="beck" name="water-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button expand="full" fill="clear" size="large">
            <ion-icon class="beck" name="skull-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-header>
</ion-content>
