<ion-content [fullscreen]="true">
  <div style="margin-top: 20px">
    <ion-header collapse="condense">
      <ion-toolbar color='primary'>
        <ion-title size="large">
          DEVELOPER
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-1/p160x160/56603181_1200454930103224_8195784451108634624_n.jpg?_nc_cat=102&_nc_sid=dbb9e7&_nc_ohc=DwLD-zYgpEIAX_mdpnN&_nc_ht=scontent.fbkk2-8.fna&_nc_tp=6&oh=9d647c711a33496d90375366f5416654&oe=5E80763B">
      </ion-avatar>
      <ion-label>Sahatchai Surapak
        <p>
          E-mail:Sahatchai.sura@bumail.net
        </p>
        <p>
          Tel.0922355551
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://lh3.googleusercontent.com/7EX3-6yK3OSMugAFhGnopJ1icB1__96UVMl926au6GFWIm2aHQnvoubv5lTuJxliuuKKZCf_Y1hFCa5_FgFy-F9cblXqq4X3DUyVyAdJAYd3pSFwO0LmLRqlvqi7pDH3YlPn_qFbGlOgmpbux12ZGfvPq0cA0UbM2G70_PxWstfWsFCzmMfyV79dkuO3V68qVnnlAnbddcvyZcCCRBm1GoalxWOFrWgNv_E0YqqF6XPk6hnzMMtYUNZuBpCN34LGW6NU4fwT6T2n-F0bbkQF7dgCIAa5fWQenSr4oDQFEPXAs9T63qWurFRyV4_EYolmXg3L_eTBaLY8yTvbFnN_IQFH0wWR5sir1edJuLFHR77xzH2WPjsF-q1Y5KuPi3EsUooVdxtFAg1yZoedGuR-cBdjU8v3-gjcuD3N1s-sMvAaO0jYbUt68zxGHANQ_b6Mt7-K7sLE7LeM9c4EQmfG3dHQRCtgtqibc2s12ndJRGBoI8t_MhgcEU4DmZU28PIdKN-I4Ss6hks_r05XMMxppfbY3DekClSJujQL_Aj3FDRKGYma1HApsmyRssn-9FGSJfhIC7Y3FEfbBBpF54ha52PPQnscejW8aZSU5kbv9G-0VwpAykW7BUYuCgJyw16JFCi6GxGbqtmlpoRurqEyf2Su4dUogX6itPGaTwD3zYMurdPTeDna=w546-h969-no">
      </ion-avatar>
      <ion-label>Anakin Skywalking
        <p>
          E-mail:Anakin.skyw@bumail.net
        </p>
        <p>
          Tel.0982812107
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://lh3.googleusercontent.com/gQ9Jd_f9loZKWl1AnPp9ZL3bHmPHPEahiHUj_UIQtucBE540UiKfZKzrZ1sHSWCip7kVZDajsA7kbj2C4ChcF0RqFxGDWQ6LhK5XoRZXnTaXY4Y-sPa5jPZMuX7EHaq3fN_VJtv_6C5wSxKW8NIKk807usFEv3wWe-hPF3gTkPB4BFAvnujQyVZfmbJaQZlx8MuIx7l_6mp-H36eNv8suR14z3viw_XN2pk0KnCL_mVY3PirW1mHhvoDD8ZNPJjodf1EG4XAckGUrx0id5L2mLq2qlkkNQF2GgR6y1kw7e2i5uw84k6ccV372GBubfF__bW3oRjhRX-A3sYDxGeU-R-A8BFg5Iw3iHJ1rlkfTRGsIW0QRbJenrvmnDnTBSl0BqiZKoFBplLjDLvvaP7kAXJ7LCrd5XxmpztFdLz6g3ADou5pPCTyOAg7QbYnEoUqYUIcr-ytzrP7RUa9cz13QzNG-YO3yRl8j0KcjN9xiX9nVRMzAxpp2DVhyYj9JAdqvHZvsZNS4fqjqsVydOiPM-LOcXJNsBz6B1ysv6wll4LJ1qT6Vzndboh_M-Za7Tsk1nRhpiz6KlBKSmtoqq_K205mn4fBmSKRz32Nzy6I5trHiv-lsW9SnTH7-AmrznSTP7CbTyDHqmn1-u9770Ltw-8Cl-QTj8Wu_RgNEMwjwKv_Sw0mCzQy=w960-h958-no">
      </ion-avatar>
      <ion-label>Sanhavich Chaichana
        <p>
          E-mail:Sanhavich.chai@bumail.net
        </p>
        <p>
          Tel.0638392025
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://lh3.googleusercontent.com/5RzMTJ-aKHzUsYeYAwI7bUfdqpMlcaHN_ivvsW30HK7T8oQ03fsUFUPB0-e0rlKM-WYCqwbBao8svIT4zkbBRif3peKOzxE85MBYgMVrX1Yz6kLwjZ_i9-CsLDMzlXBkdIp0iteFTIwoYTOvz_Zp17JtYwj_XmA9rJTAMvGs6vupPFmrnplYwPZn1ONBcRP0bL8iS-71QoNECAgBlbCh8mOGRzVu3LsLPKJtbZMYu6-la684zmPuSKPp6D6hY2hHRUPMfyJXkTHP-mq1maTOy6KofxygJCAjWknK7RygH5fcX80_L2n2qWdaOfhEEI6PfpHAxokvfxoJVBZyJ7-fHJ3QNN0WyrFOxzS-Wx2MkBNLYkK6vI8lrmx7lLfI3VslyIVAadme7agIpiEXiBTfuu2rQ7iYXned0ombOdK4hdfz_lS3cB9nYfokdDtIMlyEURUCBZ4TwXDXt5QhX9X2A1KbKwalXBL_xf-ApPOQeao4pHKBewAPiynQ_PCtV0UPy31t0ssrMQAo3xQM5049uRGKC6ryi57rq5jgjah-r-nanOIPY0uAZarZp0KUB1Ihy8_iWAwva0-UT0-ubQr6jyvN2Qx2duf-D44jFVqx0cujJ1lZaxqKSx25qKLk0TlI5M0YWHL9vUxV5i1QhYoEEMUUmGgUGY4MVoncrJQBmoYKHG5rtKBI=w221-h392-no">
      </ion-avatar>
      <ion-label>Worapol lathong
        <p>
          E-mail:Worapol.lath@bumail.net
        </p>
        <p>
          Tel.0123456789
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://lh3.googleusercontent.com/I4QHb-cph2gFpzNYoRtroSh2AVB1Xbo9fYHI9UQ12EgVvK3DpAe8Tk1PJGciac63rUHvxasVW56BhQvYtikWQS2BkDxcj2VlPCanmhHqfEuuKPZOclwIRlYnV2yY_GLpPyfRku9zvh1El6lm93RyUYuMNFvt4PLgmFmw-_ywuz-SvY-vMTOVowmsK8n9XTjrj442J06heB_TqYsm2CZi9-fW-5vBAdDW_ShEnyuB-hSA4LBS8AgMRGvGUoYOj0K2t6edmnlCH5E54FQqx_ZK0epxkdsdjFqC0ppkGptnXPpP2Qzjsu6J6nrgg5uTN2hhuo0eF06G3hJytpOEvE1hCsg97eXDr14NVOm1JeOzMDcTrQ8-fgmF_oJ-0XtWUlb1Mv1JZZ86h7bTSfl2QiIfZypfDyUhHoHIuAq840dyr8YdUp0o5u_nyA4iFF6-JCFhmeHxLA6oxjYdfz-Eaqc_82zstqt0CeLQwN0LsK2U-0kd-4aQyfGUQ7ma4upigr3d_IR7HQncTjcCJnewR7Rz0fBSJP89f38l4_jENxrjjO6rgWRR0B27LBhQ0ccszWqFpD1VUiG_qLpWfiwNXFGRRh-zj7m79rJ-49L0kHkxxGigpk10yEWIZfWRL0KsKic_rKlXbPi1twyEqa_q2MjcvpqRiJeW9SvvCDPdtE1MXwA4F4rkLd2M=s960-no">
      </ion-avatar>
      <ion-label>Rapeepong Kentucky
        <p>
          E-mail:Rapeepong.kent@bumail.net
        </p>
        <p>
          Tel.0987654321
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button >
      <ion-icon name="chevron-back-outline" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>