ion-content.background{
  --background: url(../../assets/backlogin6.jpg);
  text-align: center;
}

ion-card.beckky {
  box-shadow: none;
  background: url(../../assets/card6.png);
  border-radius: 10px;
}

ion-button.beck {
  --background: url(../../assets/logle1.png);
}

ion-button.beck1 {
  --background: url(../../assets/lofle1.png);
}

ion-icon {
  font-size: 20px;
}