<ion-content class="background">


  
  <div style="margin-top: 180px;">
    <ion-card class="beckky">

      <ion-card-header>
        <div style="margin-top: -8px;">
        <ion-icon color="light" name="home" style="margin-right: 210px;"></ion-icon>
        </div>
        <ion-text color="light">
        </ion-text>
      </ion-card-header>

      <ion-card-content>
        <div style="text-align:left">
          <h2>
            <ion-input style="margin-left: 7px;" color="light" type="text" placeholder="Username"></ion-input>
          </h2>
        </div>
        <div style="text-align:left">
          <h2>
            <ion-input style="margin-left: 7px;" color="light" type="Password" placeholder="Password"></ion-input>
          </h2>
        </div>
        <div style="margin-top: 13px;"></div>
        <ion-button style="margin-left: 262px;" fill="clear" color="light" size="small" (click)="Gotoregister()">
           Sign up
        </ion-button>

        <div style="margin-top: 4.5px;"></div>
        <ion-button class="beck" fill="clear" expand="full" style="width:300px;height:50px" (click)="showLoading()">
          <ion-text color="light">
          </ion-text>
        </ion-button>
        <div style="margin-top: 26px;"></div>
        <ion-text color="light">
        </ion-text>
        <ion-button class="beck1" fill="clear" expand="full" style="width:300px;height:50px" (click)="presentAlert()">
        </ion-button>
      </ion-card-content>

    </ion-card>

  </div>
</ion-content>