<ion-content class="background">
<ion-header>
  <div style="margin-top: -3px;">
  <ion-button expand="full" size="large" color="tertiary">
    Soil Temperature
  </ion-button>
</div>
  <div style="margin-top: 470px;"></div>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button expand="block" color="primary" fill="outline"><ion-icon slot="end" name="color-fill-outline"></ion-icon>
            Water
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button expand="block" color="medium" fill="outline"><ion-icon slot="end" name="skull-outline"></ion-icon>
            Fertilizer
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div style="margin-top: 11px">
    <ion-button expand="block" size="large" color="danger">
      Back
    </ion-button>
  </div>
  
  </ion-header>
</ion-content>

