<ion-content class="beckky">
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary">CONTACT</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card class="beckky">
      <ion-card-header>
        <ion-card-title color="light">Detail</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
  
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ113AO0k6W0BSvWtZJe0k7STqHVvtUIUF1moCDIOfSCXOdx1AC">
          </ion-avatar>
          <ion-label>E-mail:SmfBu@gmail.com</ion-label>
        </ion-item>
          

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://i.pinimg.com/originals/20/e5/f9/20e5f939f6bb4aff13b39bcb2a5b8b21.png">
          </ion-avatar>
          <ion-label>Facebook:SmartFarmBu</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://i.pinimg.com/736x/d4/3d/38/d43d38144d427db1a75973a213678fba.jpg">
          </ion-avatar>
          <ion-label>Line:Bu-SmartFarm</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://cdn1.iconfinder.com/data/icons/general-9/500/phone-512.png">
          </ion-avatar>
          <ion-label>Tel:0922355551</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-header>
</ion-content>