<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title color="primary">Contact</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Detail</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://lh3.googleusercontent.com/-eqcBKdwOCUCsSF9ebqWLwUUYqmTJVgF3GMoD6xk10i0wulD_gBzyedjyqq0HtSIFygUeM7MtoobXhYGt2qjSfaSR1ZcwIZfbCGZQWgVSam65Qfk3uUyzpBmgMLyQIY8tvTniHBlCVbGULiOQ7VjIkyMDqRsKWyuirYfblcSMlds6yu92clajzgi4DdXAem_cpehcL742Y5VJ6rZMwAgR9Cl_zOIhlRNSLUV3u6mv-R1dL2SH6OGGd0Dcg-MWC2toBADL4OU2cUN_JmL-XRmLO9hh7zPOgvO4cjebnr9ohj-T_EpDTxYcpjHC0ZJzmjlRI39-EPdk_dVdqUmtjQFSCM9D7PI0M_xV5Wg6EDWFqFxVxreDOvno9OmrjLmq3q0hdi_Yd4Et7hRNdhDlyCjDL9DIhasQFoBpQu_gSXSV30eevuu7-ze9DNm1DbV0vPYn0RH7tga5Ac8_ZRur1ZDbT8lL_mpCirVNjA1S14uc2hJu2nVDvtN92l4rUzyl_j-5TDCzzJXoEDtDJoAb3gLUGp5GcdcgUelattjfFhh48xQsh7IJGYFI7vPdCgfYQrlIf-SCbTY8tfiUeOiV24y6ajkpOwb5rA6fCwjWH84zGgC8mFaN9--eeEy1mCJaxj7dLp-mxkG5y4fkmWhCNpCgrrtRBrvw5ztYosA7NVnMez9lrBVj1dz=s246-no">
          </ion-avatar>
          <ion-label>E-mail:SmfBu@gmail.com</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://lh3.googleusercontent.com/Wmxjgy9t8vpkP4a-ALXIovUUr2SW9FBWlZcD9GaLc-lTRiLcpBWyLCV-DoF8ZAUixH4Pa7d7rOAccCnPZOPtRifm3z0DbAxLnmdGaboEYhmTm4bahKrXLos1cKZt-eLIdJDV7DCxVaBXsPYkRiTRrN9bcV1WT3_xMhBxfQ40UoqhbfjOmJNF6cioSIXMF5zeizww_RS7GxfdwlTaT36L4z1SVq-YPpQ60lUg85gTCZnpV-SavEon6DhsXLoXlIABzf7DS_fAPiquJNBCLTbrpttwUylVFOZtK8K0SA9obicQFYLiJtbmD3_e0g_RaJCKKnf5GbDsJU6lrBHbsFmH02986qG9K8vddpsJ-iHU2Yu2yJgV60hJajS_8HQ04OC77VoqtB7qDuUJWM__hMSsi3bv3czFOcOP50QGhKXVpp-GPLxgjwh_s0p2NPXTSNqAp7tTgQVOpYRZRFvr7fjba58ZtKkP1uG54mt3tB2xJqdX0GXZbZZC3daHgiyxATyisxmoP_2pxPmA0v6-5NpTuTz3EStTWv05xkkHSwqrPBAhiYuKoExk87PKQgHhR_wS6eCyCpaWKYoNA1tkMOheQNhHrC6kFerzdYf_h-9WnpXUqKQPXy7Pg31e8IaOUnkEta3NrxiGIrF-AN7mS5YvGX68cezlcyQUUCoTu41xrPPGGqMldN8V=s325-no">
          </ion-avatar>
          <ion-label>Facebook:SmartFarmBu</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://lh3.googleusercontent.com/VGm_dz4xbDanLO7jP4Q3jxngLI050AjpuPyUih2MZkE-kZQ_errbL5YUSjeQuyRYqs7Mqyz-kyohrlfmSaVlkLS0lxouwv2UuR5JWStPp5IjBlZ8bPwbRWHd0UXqHkTkxQvX8BSvdEnEzFfikDiv_l_KPKWKy2yfqA6EksXszkHn5XDu5n8rud3pv2M134MXuVIbaz1R_GeoqXXLrEhlMT941ZI42hF3mBwml2BPrjyi28WsnKO2pBv0OHvJOmIbccwdoReAHX8_lp2OybNpUzxcxobLIUE2X1Vq8VmltBppHi_LhCIrCvKbR9YEYagztK990je-hoYy9TBmBhwxK-EeSEI-lgeL7VC7PCRLSIxwogol5YP6Nrt0vN3Z3CebIGqQVhEQbuPmgtrKWxSEmpuyBf1VxhHd04pIOgy6rwDeLlmnVqCVdhUIFbKoGto5VHrjIRCUPW2CZIfaHvB7D76gktATpwGaeqCOw50KymkD_dMOnkIUux6D4HdgB_qJQEbcZxKjOCeGoskFkebaFPWCwR09BTxHp4ms6kPslE-rHMqxpB64LeBR9Na_2-mQLFW86VxLMsMcWCNiW1NIUEYGWGpuN0kNfFS3r3C2F0VZr8YrAp6TAn45ps4qnYES6aCF2ZvhQFKLMaGzZXFBHaOR3deCpcIc2x6lGGEFSUqnUhbEaudV=s512-no">
          </ion-avatar>
          <ion-label>Line:Bu-SmartFarm</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://lh3.googleusercontent.com/eozzNMpGUyaLzMUbQLGMuVns-Qpq8UEsNQzjF6_E0rTAfziF8zS-tOM7NUfBtK1TX4i2yOtOt1fDFCcz3e25sgWL-m-0-i7DAtL1cuOvaR5xozunRvbop7byH0WDhBQGMbbMIrcizoGZbkVd6KmOYodSHX-eJPYYkZYguLyd6zW6r7gVYqWx6WGjnw7IitxuaO7VqdG2R0jUWyc5BagtrzbBH1iAliy9vo4P9XjZtUFVuRWzPbhbuL98-usFZEPmHQCKYLljFX_6py0Nn0gsJvFkixZ5nI2QjwXZ6zIi187owtegMpe44podC1Grt_JjUT8yN5DzCzQx6vBAU9WrUiUc5wlw2K-QKxPefkVC-dVLcTyWImxk0T5opl2AmizWHzcmy_cZZqIa2Es1v4RQCDH93razLM8RrNrBeDbi2RydDqHcdTwspLBnH3hP9-WFD-SjxlQQLV9ZFnUhxhWvnqFlsO7OeP4p0o0aRB_cJZnHCBki0svu-knY8S6DD-CTlgjZlHa2sZoUm2mBB2bh3fZ4MH6-uDeWp065lLFoiIhp2pIxYcoif9Gd7CUDtuK1DWytpqGOfk1S2K9q8YQza6MFSBIIzUwvUcexwDukFv6ZXcss5PxtSJiBhMLvKv6ZdiW8tbm515jGytfLOSIzqCtlWBR7wXqXkHNSCq288Mb1iPQZHjVT=s512-no">
          </ion-avatar>
          <ion-label>Tel:0922355551</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
<div style="margin-top: 60px;" >
    <ion-img style="width: 200px; height: 200px;" src="https://lh3.googleusercontent.com/S6KDYV3MxFHcldu82QndhZknwrxpbLErm3wQGUjrL5LiYN5l5k6JRxSmyIAT-P4L9cKA5BWiVh-RrHE9RzpBLAEI3Odq0PDW3hsA7RKJKb0bt3noOzqPQosaqT33iexEGol2drtkR0Cxwfwo-wQX60EHpLXJGJ2OBSdNusMVZEB0tB5dzliGFudhAKLr-BssD1_UBXEbEZnrh6djmoWmBAWfCZ4eZTVz8uvTONz7xPkyn1xW-eCtWsA0JaoUna5ULr0zRlTU6RmDsBnLCCgLsCrmBza5CHZR13g1mxddaR1SjjG0L8t26Wd2dlbZ-GALUYYg1Jk3JllWvw1mJ9cmm3j7dRA8RiM70C62C4jBvHJlG-_bRqP9ug1gBon4iZyR2wh2tjppZ7KoIUxk3fJ-wbcqxj2Aq7mnp-jCWOw2PJUwZARuUJtYco3d4trra5zYiY1hR4gxF-83I4yJPEEYQkeDTMPjx9AppWokWEmYImnruwxfxabSxxgvsA3D0k5PlIMATZMd0VIqS4hGvfJPiPMJRdzg9uEKMJUEp8lxXL9EG7cwfvNUFIZ7JyVJ5bCyao8qoAeuSBYAjjFpGD7QCZqlDe6T13L0sWGPikY4ZmLhXsWcRPOc4VrLGziJGFMpq5_I2RizDxtkuGJfNWJJyOUJYPWVfaaQVDETlWjJA9NNRP9-LMAY=s600-no"></ion-img>
</div>
  </ion-header>
</ion-content>