<ion-content class="background">
  
  <div style="margin-top: 30px;"></div>
  <ion-button class="beck1" style="width: 367px; height:120px" fill="clear"  (click)="Gotocontact()"></ion-button>

  <div style="margin-top: 20px;"></div>
  <ion-button class="beck2" style="width: 367px; height:120px" fill="clear"  (click)="Gotosoil()"></ion-button>

  <div style="margin-top: 20px;"></div>
  <ion-button class="beck" style="width: 367px; height:120px" fill="clear"  (click)="Gotodevelop()"></ion-button>

  <div style="margin-top: 20px;"></div>
  <ion-button class="beck3" style="width: 367px; height:120px" fill="clear"  (click)="Gotocontact()"></ion-button>

</ion-content>

<ion-toolbar class="beckky" size="large">
  <ion-buttons slot="secondary">
    <ion-button color="light" size="large" href="/beck">
      <ion-icon class="beckky" name="person-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button color="light" size="large" (click)="showLoading()">
      <ion-icon class="beckky" name="power"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>