ion-content.background{
  --background: url(../../assets/back.jpg);
  text-align: center;
}

ion-button.beck {
  --background: url(../../assets/Deve.png);
}

ion-button.beck1 {
  --background: url(../../assets/tem.png);
}

ion-button.beck2 {
  --background: url(../../assets/soil.png);
}

ion-button.beck3 {
  --background: url(../../assets/cont.png);
}

ion-icon.beck {
  font-size: 70px;
}

ion-title.beckky {
color: #c1f0ff;
}

ion-icon.beck {
color: #000000;
}

ion-icon.beckky {
color: #75ddff;
}

ion-text.beck{
color: #c1f0ff;
}

ion-toolbar.beckky {
  --background: url(../../assets/toolbar1.jpg);
}